.app{
  /* min-height so that can scroll down even if reach 100vh*/
  min-height: 100vh;
  background: rgb(51, 175, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.red{
  color: red;
}